{% extends "layout.html" %}

{% block page_content %}
<div class="container">
    <div class="page-header">
      <h2>Appointment</h2>
    </div>
{% from "_formhelpers.html" import render_field %}
<form class="col-md-4" method=post action="/appointment">
  <dl>
    {{ render_field(form.test_id) }}
    {{ render_field(form.moment, placeholder=current_time) }}
    <br>
    <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-envelope"></span>
        </span>
        <input name="email" type="email" class="form-control" required placeholder="email address">
    </div>
    <br>
  </dl>
  <p><button type="submit" class="btn btn-primary">Book</button>
</form>
</div>
{% endblock %}
