{% extends "layout.html" %}
{% block title %} User Appointment{% endblock %}
{% block page_content %}
<div class="container">
    <div class="page-header">
      <h2>Appointment</h2>
    </div>
    {% from "_formhelpers.html" import render_field %}
    <form class="col-md-4" method=post action="/appointment">
      <dl>
        {{ render_field(form.test_id, class="form-control") }}
        {{ render_field(form.moment,class="form-control", placeholder=current_time) }}
        <h2>Hi {{ username|capitalize }}! Confirm the appointment above by clicking book below</h2>
          <h5>Not {{ username|capitalize }}, <li><a href="/logout">Logout</a></li> </h5>
      </dl>
      <p><button type="submit" class="btn btn-primary">Book</button>
    </form>
</div>
{% endblock %}
